.root
  width 100%
  height 100%

.tableWrapper
  @media (max-width 767px)
    max-width 100%
    overflow scroll

.topButtons
  padding 10px 0
  a
  button
    margin 0 10px
    @media (max-width 767px)
      height 44px
      width 100%
      margin 10px 0
      display flex
      justify-content  center
      align-items center

.tableCell
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  cursor pointer

.headerCell
  text-align center