.root
  position relative

.loader
  width 100%
  height 100%
  position absolute
  top 0

.wrapper
  position relative
  margin 0 auto
  top 50%

.disabled
  opacity 0.2


.buttons
  button
    margin-right 20px
    @media (max-width 767px)
      height 44px
      width 100%
      margin 10px 0
      display flex
      justify-content  center
      align-items center
