.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-appearance 1.6s ease-in;
  height: 80px;
  background: white;
  padding: 15px 0;
  border-radius: 3px;
}

.App-header {
  background-color: #1B4691;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-container {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

@keyframes App-logo-appearance {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
