.root
  //margin 0 auto
  //display table
  //clear both
  //padding 10px 0!important

  >li
    display table-cell
    padding 0 10px
    list-style none

  a
    color #000000
    border 0
    background no-repeat
    padding 0 10px
    cursor pointer

.currentPage
  font-weight bold
  color #000000

